<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDocumentMapper">

    <resultMap type="SysDocument" id="SysDocumentResult">
        <result property="documentId"    column="document_id"    />
        <result property="documentName"  column="document_name"  />
        <result property="filePath"      column="file_path"      />
        <result property="fileOriginName" column="file_origin_name" />
        <result property="fileSuffix"    column="file_suffix"    />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="remark"        column="remark"         />
        <result property="isRecognized"  column="is_recognized"  />
        <result property="ocrContent"    column="ocr_content"    />
        <result property="ocrTime"       column="ocr_time"       />
        <result property="ocrError"      column="ocr_error"      />
        <result property="status"        column="status"         />
        <collection property="tags" javaType="java.util.List" ofType="String" select="selectTagsByDocId" column="document_id"/>
    </resultMap>

    <sql id="selectDocumentVo">
        select document_id, document_name, file_path, file_origin_name, file_suffix, create_by, create_time, remark, is_recognized, ocr_content, ocr_time, ocr_error from sys_document
    </sql>

    <select id="selectDocumentList" parameterType="SysDocument" resultMap="SysDocumentResult">
        <include refid="selectDocumentVo"/>
        <where>
            <if test="documentName != null  and documentName != ''"> and document_name like concat('%', #{documentName}, '%')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectDocumentById" parameterType="Long" resultMap="SysDocumentResult">
        <include refid="selectDocumentVo"/>
        where document_id = #{documentId}
    </select>

    <update id="updateDocument" parameterType="SysDocument">
        update sys_document
        <trim prefix="SET" suffixOverrides=",">
            <if test="documentName != null">document_name = #{documentName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="fileOriginName != null">file_origin_name = #{fileOriginName},</if>
            <if test="fileSuffix != null">file_suffix = #{fileSuffix},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isRecognized != null">is_recognized = #{isRecognized},</if>
            <if test="ocrContent != null">ocr_content = #{ocrContent},</if>
            <if test="ocrTime != null">ocr_time = #{ocrTime},</if>
            <if test="ocrError != null">ocr_error = #{ocrError},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where document_id = #{documentId}
    </update>

    <insert id="insertDocument" parameterType="SysDocument" useGeneratedKeys="true" keyProperty="documentId">
        insert into sys_document
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="documentName != null">document_name,</if>
            <if test="filePath != null">file_path,</if>
            <if test="fileOriginName != null">file_origin_name,</if>
            <if test="fileSuffix != null">file_suffix,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="documentName != null">#{documentName},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="fileOriginName != null">#{fileOriginName},</if>
            <if test="fileSuffix != null">#{fileSuffix},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <delete id="deleteDocumentByIds" parameterType="String">
        delete from sys_document where document_id in
        <foreach item="documentId" collection="array" open="(" separator="," close=")">
            #{documentId}
        </foreach>
    </delete>

    <select id="selectTagsByDocId" parameterType="Long" resultType="String">
        SELECT t.tag_name
        FROM sys_tag t
                 LEFT JOIN sys_document_tag dt ON t.tag_id = dt.tag_id
        WHERE dt.document_id = #{documentId}
    </select>
</mapper>